
/*Container*/ 
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Section1*/ 
.grey {
    max-width:100%;
    height: 80px;
    background-color: #ececec;
        .grey-text {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
                
                    .text2 {
                        font-family: "os_sb";
                        font-size: 1.25em;
                        line-height: 24px;
                        font-weight: 600;
                        color: #7f8c8c;
                    }
                    a{
                        font-family: "os_n";
                        font-size: 0.75em;
                        line-height: 14px;
                        font-weight: 400;
                        color: #7f8c8c;
                        cursor: default;
                            &:hover {
                                color: black;
                                opacity: 0.4;
                            }
                    }
        }
    
}

.tria {
    height: 25px;
    width: 25px;
    background-color: #ececec;
    display: inline-block;
    position: absolute;
    top:65px;
    transform: rotate(139deg);
    
}


/*Section2*/
.map {
    max-width: 100%;
    height: auto;
    margin-top: 59px;
        .map-decor {
            width: 100%;
            border-radius: 5px;
        }
} 

/*Section3*/
.info {
    max-width: 100%;
    height: auto;
        .text {
            width: auto;
            height:  5.625em;
            background-color: #ececec;
            border-radius: 5px;
            margin-top: 59px;
            margin-bottom: 59px;
                .text-decor {
                    font-family: "os_n";
                    font-size:  0.8125em;
                    line-height: 20px;
                    font-weight: 400;
                    color: #777777;
                    padding-left: 19px;
                    padding-right: 10px;
                    padding-top: 25px;
                    padding-bottom: 25px;
                }
        }
} 
/*Section4*/
.contact {
    max-width: 100%;
    height: auto;
        .main-block {
            width: 100%;
            height: 37.8125em;
            display: flex;
            justify-content: space-between;
                .block1 {
                    width: 48.875em;
                    height: auto;
                        .block1-tittle {
                            font-family: "os_sb";;
                            font-size: 1.25em;
                            line-height: 24px;
                            font-weight: 600;
                            text-transform: uppercase;
                            color: #7f8c8c;
                            margin-bottom: 60px;
                        }
                    .form-cont {
                        width: 100%;
                        height: 1.25em;
                    }    
                    .input-decor {
                        width: 100%;
                        max-width: 59%;
                        height: 40px;
                        background-color: #e5e6e6;
                        box-shadow: inset 3px 2px 0px 0px rgba(245, 244, 244, 0.04);
                        border-radius: 7px;
                        margin-bottom: 24px;
                        padding-left: 5px;
                    }
                    .area-dec {
                        width: 100%;
                        max-width: 90%;
                        height: 240px;
                        background-color: #e5e6e6;
                        box-shadow: inset 3px 2px 0px 0px rgba(245, 244, 244, 0.04);;
                        resize: none;
                        border-radius: 7px;
                        padding-left: 5px;
                        padding-top: 5px;
                        margin-bottom: 24px;
                    }
                    .button-dec {
                        width: 100%;
                        max-width: 25%;
                        height: 50px;
                        background-color: #e2534b;
                        border-radius: 7px;
                        font-family: "os_sb";
                        font-size: 1.25em;
                        line-height: 16px;
                        font-weight: 600;
                        color: #ffffff;
                            &:hover {
                                background-color: #500b07;
                                opacity: 2;
                                transition: linear 0.5s; 
                            }
                    }
                    .side-text {
                        display: inline-block;
                        font-family: "os_n";
                        font-size: 1.125em;
                        line-height: 20px;
                        font-weight: 400;
                        color: #7f8c8c;
                        padding-left: 20px;
                    }    
                }
                .block2 {
                    width: 18.75em;
                    height: auto;
                        .block2-tittle {
                            font-family: "os_sb";;
                            font-size: 1.25em;
                            line-height: 24px;
                            font-weight: 600;
                            text-transform: uppercase;
                            color: #7f8c8c;
                            margin-bottom: 60px;
                        }
                        .img-text {
                            width: 240px;
                            display: inline-block;
                            font-family: "os_n";
                            font-size: 0.90em;
                            line-height: 20px;
                            font-weight: 400;
                            color: #777777;
                            padding-bottom: 15px;
                            padding-left: 5px;
                            margin-right: 20px;
                            margin-bottom: 15px;
                            
                        }
                        .img-text2 {
                            margin-right: 170px;
                            display: inline-block;
                            font-family: "os_n";
                            font-size: 0.90em;
                            line-height: 20px;
                            font-weight: 400;
                            color: #777777;
                            padding-bottom: 15px;
                            padding-left: 5px;
                            
                        }
                        .link {
                            
                            font-family: "os_n";
                            font-size: 0.90em;
                            line-height: 20px;
                            font-weight: 400;
                            text-decoration: underline;
                            color: #e2534b;
                            padding-left: 5px;
                            
                        }
                }
        }
} 

