@import "header.scss";

@font-face {
	font-family: 'Bitter700';
	src: url('../fonts/Bitter700.eot');
	src: local('☺'), url('../fonts/Bitter700.woff') format('woff'), url('../fonts/Bitter700.ttf') format('truetype'), url('../fonts/Bitter700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'BitterRegular';
	src: url('../fonts/Bitter-Regular.eot');
	src: local('☺'), url('../fonts/Bitter-Regular.woff') format('woff'), url('../fonts/Bitter-Regular.ttf') format('truetype'), url('../fonts/Bitter-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueBold';
	src: url('../fonts/HelveticaNeue-BoldCond.eot');
	src: local('☺'), url('../fonts/HelveticaNeue-BoldCond.woff') format('woff'), url('../fonts/HelveticaNeue-BoldCond.ttf') format('truetype'), url('../fonts/HelveticaNeue-BoldCond.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Helveticaneue-roman';
	src: url('../fonts/helveticaneuecyr-roman.eot');
	src: local('☺'), url('../fonts/helveticaneuecyr-roman.woff') format('woff'), url('../fonts/helveticaneuecyr-roman.ttf') format('truetype'), url('../fonts/helveticaneuecyr-roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue-Medium';
	src: url('../fonts/HelveticaNeueLTPro-Md.eot');
	src: local('☺'), url('../fonts/HelveticaNeueLTPro-Md.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-Md.ttf') format('truetype'), url('../fonts/HelveticaNeueLTPro-Md.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}



::before,*::after{ margin: 0;padding: 0;border:0;box-sizing:border-box; }
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%; font-size: 100%; margin: 0;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit; margin: 0;}
p {margin:0;}