/* Fonts */
@font-face {
  font-family: "os_l";
  font-weight: 300;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-Light.woff2") format("woff2"), url("/assets/fonts/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-family: "os_n";
  font-weight: 400;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-Regular.woff2") format("woff2"), url("/assets/fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "os_m";
  font-weight: 500;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-Medium.woff2") format("woff2"), url("/assets/fonts/OpenSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "os_sb";
  font-weight: 600;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-SemiBold.woff2") format("woff2"), url("/assets/fonts/OpenSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "os_b";
  font-weight: 700;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-Bold.woff2") format("woff2"), url("/assets/fonts/OpenSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "os_eb";
  font-weight: 800;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("/assets/fonts/OpenSans-ExtraBold.woff") format("woff");
}