/* Fonts */
@font-face {
  font-family: "os_l";
  font-weight: 300;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-Light.woff2") format("woff2"), url("/assets/fonts/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-family: "os_n";
  font-weight: 400;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-Regular.woff2") format("woff2"), url("/assets/fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "os_m";
  font-weight: 500;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-Medium.woff2") format("woff2"), url("/assets/fonts/OpenSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "os_sb";
  font-weight: 600;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-SemiBold.woff2") format("woff2"), url("/assets/fonts/OpenSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "os_b";
  font-weight: 700;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-Bold.woff2") format("woff2"), url("/assets/fonts/OpenSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "os_eb";
  font-weight: 800;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("/assets/fonts/OpenSans-ExtraBold.woff") format("woff");
}
/* Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #76c7c0;
  background-image: url(/assets/img/header/Path.png);
  background-repeat: repeat-x;
  background-position: bottom;
  z-index: 2;
}
.header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.header .header-nav .header-logo {
  background: url(/assets/img/header/logo-header.png);
  background-repeat: no-repeat;
  height: 25px;
  width: 115px;
}
.header .header-nav .menu-item {
  text-transform: uppercase;
  font-family: "os_n";
  font-weight: 400;
  padding: 5px 15px;
  margin: 0 15px;
  border-radius: 5px;
  color: #fff;
}
.header .header-nav .menu-item:hover:not(#portfolio) {
  background-color: #62a29e;
  -webkit-box-shadow: 0 5px 0 0 #528b86;
          box-shadow: 0 5px 0 0 #528b86;
}
.header .header-nav #portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-nav #portfolio:hover {
  background-color: #e8645a !important;
  -webkit-box-shadow: 0 5px 0 0 #e2534b !important;
          box-shadow: 0 5px 0 0 #e2534b !important;
}
.header .header-nav #portfolio:hover::before {
  width: 10px;
  content: url("/assets/img/header/arrow-down.png");
}
.header .header-nav #portfolio:before {
  width: 10px;
  content: url("/assets/img/header/arrow-right.png");
}
.header .header-nav #portfolio p {
  margin: 0px 5px;
}
.header .header-nav #portfolio .dropdownmenu {
  position: absolute;
  display: none;
  background-color: #e2534b;
  border-radius: 5px;
  width: 300px;
  top: 75px;
  position: absolute;
  color: white;
}
.header .header-nav #portfolio .dropdownmenu:after {
  position: absolute;
  top: -5px;
  left: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #e2534b;
  content: "";
  width: 10px;
  height: 10px;
  z-index: -1;
}
.header .header-nav #portfolio .dropdownmenu .portfolio-page {
  background-color: #e8645a;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 5px;
  padding: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-nav #portfolio .dropdownmenu .portfolio-page:before {
  content: url("/assets/img/header/arrow-right.png");
}
.header .header-nav #portfolio .dropdownmenu .portfolio-page:hover {
  background-color: #76c7c0;
}
.header .header-nav #portfolio .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .header-nav .portfolio-active {
  background-color: #e8645a !important;
  -webkit-box-shadow: 0 5px 0 0 #e2534b !important;
          box-shadow: 0 5px 0 0 #e2534b !important;
}
.header .header-nav .portfolio-active::before {
  width: 10px;
  content: url("/assets/img/header/arrow-down.png") !important;
}

#search {
  content: url("/assets/img/header/search-form.png");
}

.search {
  display: none;
  position: relative;
}

.main-search {
  position: relative;
}

.search-active {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0px;
  top: 20px;
}

.container {
  margin: 0 auto;
  width: 80vw;
  height: 100%;
}

.header_title {
  background-color: #ECECEC;
  height: 5rem;
}
.header_title .title_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5rem;
}
.header_title .title_content h2 {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "os_sb";
  color: #7F8C8C;
  text-transform: uppercase;
}
.header_title .title_content .title_right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.header_title .title_content .title_right a {
  font-size: 0.75rem;
  font-weight: 500;
  font-family: "os_m";
  color: #7F8C8C;
  padding: 3px;
}
.header_title .title_content .title_right a:hover {
  color: red;
}

.section_1 {
  margin-top: 3.75rem;
  height: auto;
}
.section_1 .title_1 {
  font-size: 1.875rem;
  font-weight: 500;
  font-family: "os_m";
  color: #E1524B;
}
.section_1 .suptitle_1 {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "os_m";
  color: #7F8C8C;
}

.grid_1 {
  padding-top: 3.75rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "user_profile  tweets" "follow_block tweets" "trends tweets" "footer tweets" ". tweets";
  -ms-grid-columns: 1fr, 2fr, 1fr;
  grid-template-columns: 1fr, 2fr, 1fr;
  -ms-grid-rows: 1fr, 2fr;
  grid-template-rows: 1fr, 2fr;
  gap: 15px;
}