/* Fonts */
@font-face {
  font-family: "os_l";
  font-weight: 300;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-Light.woff2") format("woff2"), url("/assets/fonts/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-family: "os_n";
  font-weight: 400;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-Regular.woff2") format("woff2"), url("/assets/fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "os_m";
  font-weight: 500;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-Medium.woff2") format("woff2"), url("/assets/fonts/OpenSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "os_sb";
  font-weight: 600;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-SemiBold.woff2") format("woff2"), url("/assets/fonts/OpenSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "os_b";
  font-weight: 700;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-Bold.woff2") format("woff2"), url("/assets/fonts/OpenSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "os_eb";
  font-weight: 800;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("/assets/fonts/OpenSans-ExtraBold.woff") format("woff");
}
/* Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*Container*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*Section1*/
.grey {
  max-width: 100%;
  height: 80px;
  background-color: #ececec;
}
.grey .grey-text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grey .grey-text .text2 {
  font-family: "os_sb";
  font-size: 1.25em;
  line-height: 24px;
  font-weight: 600;
  color: #7f8c8c;
}
.grey .grey-text a {
  font-family: "os_n";
  font-size: 0.75em;
  line-height: 14px;
  font-weight: 400;
  color: #7f8c8c;
  cursor: default;
}
.grey .grey-text a:hover {
  color: black;
  opacity: 0.4;
}

.tria {
  height: 25px;
  width: 25px;
  background-color: #ececec;
  display: inline-block;
  position: absolute;
  top: 65px;
  -webkit-transform: rotate(139deg);
          transform: rotate(139deg);
}

/*Section2*/
.map {
  max-width: 100%;
  height: auto;
  margin-top: 59px;
}
.map .map-decor {
  width: 100%;
  border-radius: 5px;
}

/*Section3*/
.info {
  max-width: 100%;
  height: auto;
}
.info .text {
  width: auto;
  height: 5.625em;
  background-color: #ececec;
  border-radius: 5px;
  margin-top: 59px;
  margin-bottom: 59px;
}
.info .text .text-decor {
  font-family: "os_n";
  font-size: 0.8125em;
  line-height: 20px;
  font-weight: 400;
  color: #777777;
  padding-left: 19px;
  padding-right: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
}

/*Section4*/
.contact {
  max-width: 100%;
  height: auto;
}
.contact .main-block {
  width: 100%;
  height: 37.8125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .main-block .block1 {
  width: 48.875em;
  height: auto;
}
.contact .main-block .block1 .block1-tittle {
  font-family: "os_sb";
  font-size: 1.25em;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #7f8c8c;
  margin-bottom: 60px;
}
.contact .main-block .block1 .form-cont {
  width: 100%;
  height: 1.25em;
}
.contact .main-block .block1 .input-decor {
  width: 100%;
  max-width: 59%;
  height: 40px;
  background-color: #e5e6e6;
  -webkit-box-shadow: inset 3px 2px 0px 0px rgba(245, 244, 244, 0.04);
          box-shadow: inset 3px 2px 0px 0px rgba(245, 244, 244, 0.04);
  border-radius: 7px;
  margin-bottom: 24px;
  padding-left: 5px;
}
.contact .main-block .block1 .area-dec {
  width: 100%;
  max-width: 90%;
  height: 240px;
  background-color: #e5e6e6;
  -webkit-box-shadow: inset 3px 2px 0px 0px rgba(245, 244, 244, 0.04);
          box-shadow: inset 3px 2px 0px 0px rgba(245, 244, 244, 0.04);
  resize: none;
  border-radius: 7px;
  padding-left: 5px;
  padding-top: 5px;
  margin-bottom: 24px;
}
.contact .main-block .block1 .button-dec {
  width: 100%;
  max-width: 25%;
  height: 50px;
  background-color: #e2534b;
  border-radius: 7px;
  font-family: "os_sb";
  font-size: 1.25em;
  line-height: 16px;
  font-weight: 600;
  color: #ffffff;
}
.contact .main-block .block1 .button-dec:hover {
  background-color: #500b07;
  opacity: 2;
  -webkit-transition: linear 0.5s;
  transition: linear 0.5s;
}
.contact .main-block .block1 .side-text {
  display: inline-block;
  font-family: "os_n";
  font-size: 1.125em;
  line-height: 20px;
  font-weight: 400;
  color: #7f8c8c;
  padding-left: 20px;
}
.contact .main-block .block2 {
  width: 18.75em;
  height: auto;
}
.contact .main-block .block2 .block2-tittle {
  font-family: "os_sb";
  font-size: 1.25em;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #7f8c8c;
  margin-bottom: 60px;
}
.contact .main-block .block2 .img-text {
  width: 240px;
  display: inline-block;
  font-family: "os_n";
  font-size: 0.9em;
  line-height: 20px;
  font-weight: 400;
  color: #777777;
  padding-bottom: 15px;
  padding-left: 5px;
  margin-right: 20px;
  margin-bottom: 15px;
}
.contact .main-block .block2 .img-text2 {
  margin-right: 170px;
  display: inline-block;
  font-family: "os_n";
  font-size: 0.9em;
  line-height: 20px;
  font-weight: 400;
  color: #777777;
  padding-bottom: 15px;
  padding-left: 5px;
}
.contact .main-block .block2 .link {
  font-family: "os_n";
  font-size: 0.9em;
  line-height: 20px;
  font-weight: 400;
  text-decoration: underline;
  color: #e2534b;
  padding-left: 5px;
}

.container {
  margin: 0 auto;
  width: 80vw;
  height: 100%;
}

.header_title {
  background-color: #ECECEC;
  height: 5rem;
}
.header_title .title_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5rem;
}
.header_title .title_content h2 {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "os_sb";
  color: #7F8C8C;
  text-transform: uppercase;
}
.header_title .title_content .title_right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.header_title .title_content .title_right a {
  font-size: 0.75rem;
  font-weight: 500;
  font-family: "os_m";
  color: #7F8C8C;
  padding: 3px;
}
.header_title .title_content .title_right a:hover {
  color: red;
}

.section_1 {
  margin-top: 3.75rem;
  height: auto;
}
.section_1 .title_1 {
  font-size: 1.875rem;
  font-weight: 500;
  font-family: "os_m";
  color: #E1524B;
}
.section_1 .suptitle_1 {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "os_m";
  color: #7F8C8C;
}

.grid_1 {
  padding-top: 3.75rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "user_profile  tweets" "follow_block tweets" "trends tweets" "footer tweets" ". tweets";
  -ms-grid-columns: 1fr, 2fr, 1fr;
  grid-template-columns: 1fr, 2fr, 1fr;
  -ms-grid-rows: 1fr, 2fr;
  grid-template-rows: 1fr, 2fr;
  gap: 15px;
}