/* Fonts */
@font-face {
  font-family: "os_l";
  font-weight: 300;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-Light.woff2") format("woff2"), url("/assets/fonts/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-family: "os_n";
  font-weight: 400;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-Regular.woff2") format("woff2"), url("/assets/fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "os_m";
  font-weight: 500;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-Medium.woff2") format("woff2"), url("/assets/fonts/OpenSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "os_sb";
  font-weight: 600;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-SemiBold.woff2") format("woff2"), url("/assets/fonts/OpenSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "os_b";
  font-weight: 700;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-Bold.woff2") format("woff2"), url("/assets/fonts/OpenSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "os_eb";
  font-weight: 800;
  font-style: normal;
  src: local("Open-Sans"), url("/assets/fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("/assets/fonts/OpenSans-ExtraBold.woff") format("woff");
}
/* Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  width: 100%;
  height: 80px;
  background-color: purple;
}

.container {
  margin: 0 auto;
  width: 80vw;
  height: 100%;
}

.header_title {
  background-color: #ECECEC;
  height: 5rem;
}
.header_title .title_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5rem;
}
.header_title .title_content h2 {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "os_sb";
  color: #7F8C8C;
  text-transform: uppercase;
}
.header_title .title_content .title_right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.header_title .title_content .title_right a {
  font-size: 0.75rem;
  font-weight: 500;
  font-family: "os_m";
  color: #7F8C8C;
  padding: 3px;
}
.header_title .title_content .title_right a:hover {
  color: red;
}

.section_1 {
  margin-top: 3.75rem;
  height: auto;
}
.section_1 .title_1 {
  font-size: 1.875rem;
  font-weight: 500;
  font-family: "os_m";
  color: #E1524B;
}
.section_1 .suptitle_1 {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "os_m";
  color: #7F8C8C;
}

.grid_1 {
  padding-top: 3.75rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "user_profile  tweets" "follow_block tweets" "trends tweets" "footer tweets" ". tweets";
  -ms-grid-columns: 1fr, 2fr, 1fr;
  grid-template-columns: 1fr, 2fr, 1fr;
  -ms-grid-rows: 1fr, 2fr;
  grid-template-rows: 1fr, 2fr;
  gap: 15px;
}